[submodule "formula1-back-end"]
	path = formula1-back-end
	url = https://github.com/BigLes/formula1-back-end.git
[submodule "formula1-front-end"]
	path = formula1-front-end
	url = https://github.com/BigLes/formula1-front-end.git
[submodule "regexp"]
	path = regexp
	url = https://github.com/BigLes/regexp.git
